<div>
    <h3>Studenti koji pohadjanju ove predmete {{pohadjanje.predmet.naziv}} </h3>
</div>
<div>

    <div class="form-group">
        <select class="form-control" [(ngModel)]="pohadjanje.student">
            <option *ngFor="let s of studenti" [ngValue]="s">{{s.ime}} {{s.prezime}} {{s.brojIndeksa}}</option>
        </select>
    </div>

    <div class="form-group">
        <div class="input-group">
<!--             <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="ngbPocetak" ngbDatepicker
                #d1="ngbDatepicker"> -->
            <!-- <button class="input-group-addon" (click)="d1.toggle()" type="button">
                <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"> </i>
            </button> -->
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <!-- <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="ngbKraj" ngbDatepicker
                #d2="ngbDatepicker"> -->
            <!-- <button class="input-group-addon" (click)="d2.toggle()" type="button">
                <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"> </i>
            </button> -->
        </div>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="add()">OK</button>
    <button class="btn btn-primary" type="button" (click)="goBack()">Cancel</button>
</div>