<div>
    <h3>Detalji o studentu</h3>
  </div>
  
  <div>
  
    <form >
          <div class="form-group">
            <label for="field1c" class="form-control-label">Broj indeksa</label>
            <input type="text" [(ngModel)]="student.brojIndeksa" placeholder="Broj indeksa" 
               class="form-control" id="field1c" name="field1">
          </div>
  
          <div class="form-group">
            <label for="field2c" class="form-control-label">Ime</label>
            <input type="text" [(ngModel)]="student.ime" placeholder="Ime" 
               class="form-control" id="field2c" name="field2">
          </div>
         
          <div class="form-group">
            <label for="field3c" class="form-control-label">Prezime</label>
            <input type="text" [(ngModel)]="student.prezime" placeholder="Prezime" 
               class="form-control" id="field3c" name="field3">
          </div>
     </form>
    
  
    <div *ngIf="student.id && pohadjanja.length > 0">
      <div>
          <h3>Predmeti</h3>
      </div>
      <table class="table table-bordered">
        <tr *ngFor="let pohadjanjepredmeta of pohadjanja">
          <td>
            {{pohadjanjepredmeta.predmet.naziv}}
          </td>
        </tr>
      </table>
    </div> 
</div>
<div>
    <button class="btn btn-primary" (click)="goBack()">Cancel</button>
    <button class="btn btn-primary" (click)="save()">OK</button>
</div> 